.judul-login{
    text-align: center;
    margin-top: 50px;
}

.card-login{
    background: #a7c6d7;
    border-radius: auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: auto;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
    padding: 12px 44px;
}

